---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Updated: Sept. 9, 2024')}
	heroImage="/pexels-markusspiske-330771.jpg"
>
	<p>
		TL;DR: A blog from a forgetful programmer trying to teach himself programming concepts. 
	</p>

	<p>
		Why ‘Goldfish’? I named the blog after a goldfish due to its forgetful nature (although this may be a myth according to some articles online: <a href="https://www.discovermagazine.com/planet-earth/goldfish-may-have-longer-memories-than-just-three-seconds">here</a>). Due to the immense amount of information relating to programming and its specific fields such as web development, I often feel like a goldfish when it comes to programming. 
	</p>

	<h5>What kind of content can I expect in here? </h5>

	<p>	
		Content will mostly involve my data structures, web development, possibly machine learning concepts as these are my current interests right now. I’ll be writing about my internal processes of my struggles in understanding concepts, steps I take to solve problems, and present key ideas that you can learn from. The tone of writing will probably jump back and forth from technical to casual as I find I remember things better in comedic contexts. If you’re a professional in the field, you probably won’t learn much from here, but I hope to at least make things entertaining! Please feel free to correct me if I make an error in my posts.
	</p>

	<h5>There’s so many other blogs out there on programming, what makes this one different? </h5>

	<p>
		My rationale for this blog primarily involves around it being an educational tool for myself, adhering to the Feynman technique (teaching a concept to another person, pushing me to learn further in the topic I want to write about —- hopefully I learned more in the process and committed it to long term memory). Other rationales involve: measure of personal growth, creative output, notes to come back to, showcase of development for employers (hello potential boss/hiring manager!), and writing practice. 
	</p>

</Layout>
